body {
    background-color: aliceblue;
    padding: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
color:rgb(0, 204, 255);
text-align: center;
}

.row {
    display: flex;
}
.column {
    flex: 50%;
}
#avatar-img {
    margin: 0.3em;
    border-radius: 5em;
}

.user-profile {
    margin: auto;
    padding: 0.5em;
    width: 20em;
    background-color: cornsilk;
    border-radius: 0.4em;
    color: cadetblue;

}
#full-name {
    font-size: 0.95em;
    font-weight: bold;
    color: teal;
}
#user-name {
    font-size:0.8em;
    color: teal;
}
#user-details{
    margin-top: 1em;
    font-size: 0.8em;
    color: teal;
}